<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net471" />
  <package id="SharpGen.Runtime" version="2.0.0-beta.10" targetFramework="net471" />
  <package id="SharpGen.Runtime.COM" version="2.0.0-beta.10" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="Vortice.D3DCompiler" version="2.0.20-beta" targetFramework="net471" />
  <package id="Vortice.DXGI" version="2.0.20-beta" targetFramework="net471" />
  <package id="Vortice.Direct3D11" version="2.0.20-beta" targetFramework="net471" />
  <package id="Vortice.DirectX" version="2.0.20-beta" targetFramework="net471" />
  <package id="Vortice.Mathematics" version="1.3.21" targetFramework="net471" />
</packages>